.pagos-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/f1.jpg') center/cover no-repeat;
  overflow: hidden;
  text-align: center;
}

.pagos-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.148),
    rgba(0, 0, 0, 0.7)
  );
  z-index: 0;
}

.overlay-pagos {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo estilo index */
.logo {
  width: 40%;
  height: auto;
  padding-left: 3%;
  transition: all 0.5s ease;
}

.logo:hover {
  transform: scale(1.15);
  transition: all 0.2s ease;
}

/* Título igual a reservas */
.pagoExitoso {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* mejora legibilidad sobre el fondo */
}

.overlay-pagos {
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--color-padel); /* igual que Index */
}

/* Subtítulo igual estilo Index */
.subtitulo-pago {
  margin-top: 10px;
  font-weight: bold;
}


/* Caja estilo servicio-card */
.pagos-box {
  padding: 25px 30px;
  width: auto;
  height: auto;
  max-width: 450px;
  color: white;
  transition: transform 0.3s ease;
}

.pagos-box:hover {
  transform: translateY(-8px);
}

/*BOTONES UNIFICADOS*/

.btn-general {
  width: 220px;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  margin: 8px auto;
  display: block;
}

/* BOTÓN WHATSAPP */
.btn-wp {
  background-color: var(--color-padel);
  color: white;
  text-decoration: none;
  border: none;
}

.btn-wp:hover {
  transform: scale(1.05);
  background-color: rgb(26, 155, 253);
  color: white;
}

/* BOTÓN VOLVER */
.btn-volver {
  background-color: var(--color-padel);
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn-volver:hover:enabled {
  transform: scale(1.05);
  background-color: rgb(26, 155, 253);
  color: white;
}

/* ESTADO DESHABILITADO */
.btn-volver:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  border-color: gray;
  color: gray;
}


/* -----------------------------
   RESPONSIVE
------------------------------*/
@media (max-width: 768px) {
  .logo {
    width: 65%;
  }

  .pagos-title {
    font-size: 2em;
  }

  .pagos-box {
    width: 95%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 80%;
  }

  .pagos-title {
    font-size: 1.5em;
  }
}
