.dashboard-container {
  min-height: 88vh;
  display: flex;
  flex-direction: column; /* ahora los hijos se apilan verticalmente */
  justify-content: center;
  align-items: center;
  gap: 2rem; /* espacio entre las tarjetas */
  padding: 40px 20px;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url('../../assets/f5.jpg') center/cover no-repeat;
}

.dashboard-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15), rgba(0,0,0,0.7));
  z-index: 0;
}


/* Nueva clase para inputs dentro de tablas */
.input-tablas {
  width: 40%; /* Ancho fijo para que las columnas sean simétricas */
  padding: 5px;
  text-align: center;
  border: 2px solid #96779d; /* Color que ya usas */
  border-radius: 8px;
  background: rgb(83, 83, 83);
  color: white;
  outline: none;  
  padding-left: 25px !important; /* Mueve el texto del número a la derecha para que no pise el $ */
}

.input-tablas:focus {
  border-color: rgb(26, 155, 253);
}

/* Asegurar que las celdas no colapsen */
.general-table td {
  vertical-align: middle;
  white-space: nowrap; /* Evita que el contenido salte de línea */
}

.input-error {
  border: 2px solid #000000 !important;
  font-weight: bold;
  background-color: #ff0000 !important;
  color: black !important;
}

/* Contenedor relativo para posicionar el símbolo */
.input-symbol-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* ESTO CENTRA EL INPUT EN EL CASILLERO */
  width: 100%; /* Asegura que ocupe todo el ancho de la celda */
}

/* Estilo del símbolo $ */
.input-symbol {
  position: absolute;
  left: 10px; /* Espacio desde el borde izquierdo */
  color: #ffffff; /* Color del símbolo */
  pointer-events: none; /* Para que al hacer click en el $ se seleccione el input */
}

