.turnos-container {
  background: url('../../assets/f5.jpg') center/cover no-repeat;
  padding: 40px 20px;
  min-height: 88vh;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overlay degradado */
.turnos-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15), rgba(0,0,0,0.7));
  z-index: 0;
}

/*Colores según estado */

.estado-select.reservado {
  color: var(--color-padel);
}

.estado-select.inactivo {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  color: red;
}

/* Paginación centrada */
.turnos-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

