.contacto-section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; /* logo y texto uno debajo del otro */
  justify-content: center;
  align-items: center;
  background: url('../assets/f4.jpg') center/cover no-repeat;
  overflow: hidden;
}

.contacto-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.148),   /* arriba m치s oscuro */
    rgba(0, 0, 0, 0.7)    /* abajo m치s claro */
  );
  z-index: 0; /* atr치s del contenido */
}

.redes-container {
  display: flex;
  width: 40%;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 5; /* atr치s del contenido */
}