:root {
  --color-kako: rgba(150,119,157,1);
  --color-padel: rgb(122,166,199);
  --font-main: Arial, sans-serif;
}

/* Reset base */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* bloquea scroll horizontal */
  overflow-y: scroll; /* mantiene el scroll vertical funcional */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

/* Secciones base */

.index-section,
.servicios-section,
.reservas-section,
.contacto-section{
  width:100%;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
}

/* Logo header */

.logo-header{
  padding-left:2%;
  height:85%;
}

/* MOBILE */

@media (max-width:768px){

.index-section,
.servicios-section,
.reservas-section,
.contacto-section{
  padding:30px 15px;
  min-height:auto;
}

h1{
  font-size:2rem;
}

h3{
  font-size:1rem;
}

}