#servicios {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; /* logo y texto uno debajo del otro */
  justify-content: center;
  align-items: center;
  background: url('../assets/f6.jpg') center/cover no-repeat;
  overflow: hidden;
}

#servicios::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.148),   /* arriba más oscuro */
    rgba(0, 0, 0, 0.7)    /* abajo más claro */
  );
  z-index: 0; /* atrás del contenido */
}
#servicios h1 {
  position: relative; /* para que esté sobre el overlay */
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* mejora legibilidad sobre el fondo */
  z-index: 1; /* sobre el overlay */
}

.servicios-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1; /* atrás del contenido */
}

.servicio-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(150, 119, 157, 0.684);
  color: white; /* 👈 Todos los textos (h3, p, etc) heredan esto */
  border-radius: 15px;
  border: 5px solid var(--color-padel);
  width: 20%;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.servicio-card h3 {
  margin: 2%;
}

.servicio-card p {
  font-size: 80%;
  font-weight: bold;
}

.servicio-card img {
  width: 100%;          /* la imagen ocupa todo el ancho de la card */
  height: auto;  
  border-radius: 15px;
}


/* Hover opcional */
.servicio-card:hover {
  transform: translateY(-5%);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

@media (max-width: 1024px) {
  .servicio-card {
    width: 45%; /* 2 por fila en tablets */
  }
}

@media (max-width: 600px) {
  .servicio-card {
    width: 90%; /* 1 por fila en móviles */
  }
}